html {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Consolas', monospace;
  font-weight: bold;
  letter-spacing: 0.6px;
  line-height: 24px;
  background: #f2f2f2;
}
div {
  margin: 0;
  padding: 0;
  border: 0;
}
span {
  margin: 0;
  padding: 0;
  border: 0;
}
applet {
  margin: 0;
  padding: 0;
  border: 0;
}
object {
  margin: 0;
  padding: 0;
  border: 0;
}
iframe {
  margin: 0;
  padding: 0;
  border: 0;
}
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
}
h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
}
h3 {
  margin: 0;
  padding: 0;
  border: 0;
}
h4 {
  margin: 0;
  padding: 0;
  border: 0;
}
h5 {
  margin: 0;
  padding: 0;
  border: 0;
}
h6 {
  margin: 0;
  padding: 0;
  border: 0;
}
p {
  margin: 0;
  padding: 0;
  border: 0;
}
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}
pre {
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
}
a:link {
  color: #454545;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: #454545;
  text-decoration: none;
  cursor: pointer;
}
a:active {
  color: #454545;
  text-decoration: none;
  cursor: pointer;
}
a:focus {
  color: #454545;
  text-decoration: none;
  cursor: pointer;
}
abbr {
  margin: 0;
  padding: 0;
  border: 0;
}
acronym {
  margin: 0;
  padding: 0;
  border: 0;
}
address {
  margin: 0;
  padding: 0;
  border: 0;
}
big {
  margin: 0;
  padding: 0;
  border: 0;
}
cite {
  margin: 0;
  padding: 0;
  border: 0;
}
code {
  margin: 0;
  padding: 0;
  border: 0;
}
del {
  margin: 0;
  padding: 0;
  border: 0;
}
dfn {
  margin: 0;
  padding: 0;
  border: 0;
}
em {
  margin: 0;
  padding: 0;
  border: 0;
}
img {
  margin: 0;
  padding: 0;
  border: 0;
}
ins {
  margin: 0;
  padding: 0;
  border: 0;
}
kbd {
  margin: 0;
  padding: 0;
  border: 0;
}
q {
  margin: 0;
  padding: 0;
  border: 0;
}
s {
  margin: 0;
  padding: 0;
  border: 0;
}
samp {
  margin: 0;
  padding: 0;
  border: 0;
}
small {
  margin: 0;
  padding: 0;
  border: 0;
}
strike {
  margin: 0;
  padding: 0;
  border: 0;
}
strong {
  margin: 0;
  padding: 0;
  border: 0;
}
sub {
  margin: 0;
  padding: 0;
  border: 0;
}
sup {
  margin: 0;
  padding: 0;
  border: 0;
}
tt {
  margin: 0;
  padding: 0;
  border: 0;
}
var {
  margin: 0;
  padding: 0;
  border: 0;
}
b {
  margin: 0;
  padding: 0;
  border: 0;
}
u {
  margin: 0;
  padding: 0;
  border: 0;
}
i {
  margin: 0;
  padding: 0;
  border: 0;
}
center {
  margin: 0;
  padding: 0;
  border: 0;
}
dl {
  margin: 0;
  padding: 0;
  border: 0;
}
dt {
  margin: 0;
  padding: 0;
  border: 0;
}
dd {
  margin: 0;
  padding: 0;
  border: 0;
}
ol {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
  border: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
form {
  margin: 0;
  padding: 0;
  border: 0;
}
label {
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  margin: 0;
  padding: 0;
  border: 0;
}
table {
  margin: 0;
  padding: 0;
  border: 0;
}
caption {
  margin: 0;
  padding: 0;
  border: 0;
}
tbody {
  margin: 0;
  padding: 0;
  border: 0;
}
tfoot {
  margin: 0;
  padding: 0;
  border: 0;
}
thead {
  margin: 0;
  padding: 0;
  border: 0;
}
tr {
  margin: 0;
  padding: 0;
  border: 0;
}
th {
  margin: 0;
  padding: 0;
  border: 0;
}
td {
  margin: 0;
  padding: 0;
  border: 0;
}
article {
  margin: 0;
  padding: 0;
  border: 0;
}
aside {
  margin: 0;
  padding: 0;
  border: 0;
}
canvas {
  margin: 0;
  padding: 0;
  border: 0;
}
details {
  margin: 0;
  padding: 0;
  border: 0;
}
embed {
  margin: 0;
  padding: 0;
  border: 0;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}
footer {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  margin: 30px 120px;
  color: #b1b3b6;
  font-size: 12px;
}
header {
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
  background-color: #1f1f1f;
}
hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}
menu {
  margin: 0;
  padding: 0;
  border: 0;
}
nav {
  margin: 0;
  padding: 0;
  border: 0;
}
output {
  margin: 0;
  padding: 0;
  border: 0;
}
ruby {
  margin: 0;
  padding: 0;
  border: 0;
}
section {
  margin: 0;
  padding: 0;
  border: 0;
}
summary {
  margin: 0;
  padding: 0;
  border: 0;
}
time {
  margin: 0;
  padding: 0;
  border: 0;
}
mark {
  margin: 0;
  padding: 0;
  border: 0;
}
audio {
  margin: 0;
  padding: 0;
  border: 0;
}
video {
  margin: 0;
  padding: 0;
  border: 0;
}
.header-row {
  display: grid;
  margin: 30px 0;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  align-items: center;
}
.social {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}
.social a {
  margin: 0 20px;
}
.social a i {
  transition: color 0.3s ease;
  color: #b1b3b6;
}
.social a i:hover {
  color: white;
}
.projects-container {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.projects-container a {
  color: #454545;
  text-decoration: none;
  cursor: pointer;
}
.left-column {
  text-align: right;
  margin-right: 30px;
  justify-self: end;
}
.right-column {
  text-align: left;
  margin-left: 30px;
  justify-self: start;
}
.logo {
  height: 100px;
}
.logo-container {
  fill: #fdf50e;
  color: #fdf50e;
  transition: fill 0.4s ease, color 0.4s ease;
  cursor: pointer;
  text-align: center;
}
.logo-container:hover {
  color: white;
  fill: white;
  transition: fill 0.4s ease, color 0.4s ease;
}
.tag {
  transition: color 0.4s ease;
  color: #f13243;
  text-decoration: none;
  cursor: default;
}
.tag:hover {
  color: white;
}
.header-column .static-link {
  transition: color 0.4s ease;
  color: #20baff;
  text-decoration: none;
  cursor: pointer;
}
.static-link:hover {
  color: white;
}
.store-badge {
  background-color: #1f1f1f;
  color: white;
  padding: 6px 12px 6px 6px;
  cursor: pointer;
  font-size: 10px;
  margin: 0 5px 0 0;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  transition: background-color 0.8s ease;
  align-self: center;
}
.store-badge a {
  color: white !important;
}
.store-badge i {
  padding: 6px;
  font-size: 16px;
  font-weight: normal;
}
.store-badge:hover {
  background-color: #3d424f;
  transition: background-color 0.8s ease;
}
.more-details {
  width: 100%;
  text-align: right;
  align-self: center;
  height: 24px;
  text-transform: uppercase;
}
.more-details a {
  transition: color 0.8s ease;
}
.more-details a:hover {
  color: #5b6a97 !important;
  transition: color 0.8s ease;
}
.project {
  display: grid;
  width: 270px;
  margin: 10px 0;
  grid-template-rows: 50px 1fr 100px 50px auto;
  background-color: white;
  border-radius: 10px;
  justify-items: left;
  padding: 30px;
  align-items: flex-start;
  /*-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);*/
}
.project-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.project-title {
  font-weight: bold;
  color: black;
  font-size: 20px;
}
.project-category {
  color: #97999c;
  font-size: 13px;
  font-weight: normal;
}
.project-description {
  color: #97999c;
  font-size: 13px;
  font-weight: normal;
}
.project-image {
  justify-self: center;
  margin: 15px 0;
}
.project-divisor {
  height: 2px;
  background-color: #eeeeee;
  margin-bottom: 10px;
}
.project-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
}
.project-link {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.project-link img {
  width: 100px;
}
.project-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
}
.centered-horizontally {
  width: 50%;
  margin: 0 auto;
}
.main-content {
  margin-top: 20px;
}
.socialyoutube {
  display: none !important;
}
.socialandroid {
  display: none !important;
}
.error-message {
  margin-left: 150px;
}
.curriculum-vitae {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: center;
}
.curriculum-vitae span {
  display: block;
}
.console-icon {
  background-image: url('../images/console-application-icon.jpg');
  width: 27px;
  height: 25px;
  justify-self: center;
  align-self: center;
}
.console-title {
  color: white;
  font-weight: normal;
  justify-self: center;
  align-self: center;
  font-size: 14px;
}
.console-maximize {
  background: transparent;
  width: 46px;
  color: white;
  text-align: center;
  cursor: default;
  font-size: 14px;
  line-height: 27px;
}
.console-maximize:hover {
  background: #298cdb;
}
.console-minimize {
  background: transparent;
  width: 46px;
  color: white;
  text-align: center;
  cursor: default;
  line-height: 25px;
}
.console-minimize:hover {
  background: #298cdb;
}
.console-close {
  background: transparent;
  width: 46px;
  color: white;
  text-align: center;
  cursor: default;
  font-size: 17px;
  font-weight: normal;
}
.console-close:hover {
  background: red;
}
.console-header {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;
  height: 30px;
  background-color: #0078d7;
  width: 940px;
}
.console-content {
  width: 940px;
  background: black;
  color: white;
}
.curriculum-section {
  padding: 25px 0 0 25px;
}
.curriculum-section a {
  color: white;
}
.curriculum-section a:hover {
  color: #fdf50e;
}
.curriculum-section li {
  font-weight: normal;
}
.curriculum-section-title {
  font-size: 20px;
  color: #fdf50e;
  font-weight: normal;
}
.curriculum-header {
  display: flex;
}
.curriculum-important {
  color: #fdf50e;
}
.curriculum-image {
  display: block;
  width: 100%;
  max-width: 130px;
  align-self: center;
  padding-right: 15px;
}
#ie-notsupported {
  display: none;
  font-size: 40px;
  margin: 40px;
}
/* IE-only styles here. Works for IS 10 & IE 11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #ie-notsupported {
    display: block;
  }
  header,
  #async-content,
  footer {
    display: none;
  }
}
@media only screen and (max-width: 1600px) {
  .projects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1100px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 900px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
  .console-content {
    width: 100%;
  }
  .console-header {
    width: 100%;
  }
  .header-row {
    display: grid;
    margin: 30px 0;
    grid-template-columns: none;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
  }
  .left-column {
    text-align: center;
    justify-self: center;
    align-self: center;
    grid-row: 2;
  }
  .right-column {
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  .social a {
    margin: 0 8px;
  }
  .tag {
    display: block;
    float: left;
    margin-right: 10px;
  }
  .header-column {
    margin: 10px 0 0 0;
  }
  footer {
    text-align: center;
    margin: 0 0 15px 0;
  }
}
@media only screen and (max-width: 800px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
  .error-message {
    text-align: center;
    margin: 50px;
  }
  .project {
    padding-right: 19px;
    padding-left: 19px;
  }
  #async-content {
    margin-top: 20px;
  }
  .curriculum-vitae {
    font-size: 12px;
    transform: scale(0.9);
    transform-origin: top;
  }
  .curriculum-image {
    max-width: 66px;
    align-self: start;
  }
}
