html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
}

h1, h2 {
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 0.6px;
    line-height: 24px;
}

header {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;
    background-color: #252831;
}

.header-row {
    display: grid;
    margin: 30px 0;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
}

footer {
    text-align: center;
    margin: 30px 120px;
    color: #b1b3b6;
    font-size: 12px;
}


.projects-container {
    margin: 0 120px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.left-column {
    text-align: right;
    margin-right: 30px;
    justify-self: end;
}

.right-column {
    text-align: left;
    margin-left: 30px;
    justify-self: start;
}

.logo {
    height: 100px;
}

.logo-container {
    fill: #fdf50e;
    color: #fdf50e;
    transition: fill 0.4s ease, color 0.4s ease;
    cursor: pointer;
    text-align: center;
}

    .logo-container:hover {
        color: white;
        fill: white;
        transition: fill 0.4s ease, color 0.4s ease;
    }

.tag {
    transition: color 0.4s ease;
    color: #f13243;
    text-decoration: none;
    cursor: default;
}

    .tag:hover {
        color: white;
    }

.header-column .static-link {
    transition: color 0.4s ease;
    color: #20baff;
    text-decoration: none;
    cursor: pointer;
}

.static-link:hover {
    color: white;
}

.social {
    margin: 15px 0;
}

    .social a {
        margin: 0 20px;
    }

        .social a i {
            transition: color 0.3s ease;
            color: #b1b3b6;
        }

            .social a i:hover {
                color: white;
            }

.project {
    width: 200px;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centered-horizontally {
    width: 50%;
    margin: 0 auto;
}

.project-link {
    display: block;
}

.projects-container a, a:link, a:visited, a:active, a:focus {
    color: #454545;
    text-decoration: none;
    cursor: pointer;
}

.project-category {
    color: #b1b3b6;
}

.project-comingsoon {
    color: #b1b3b6;
    transition: color 0.8s ease, font-size 0.8s ease;
}

    .project-comingsoon:hover {
        color: #ff0037;
        font-size: 18px;
        transition: color 0.8s ease, font-size 0.8s ease;
    }

.project-title, .project-category, .project-comingsoon {
    width: 200px;
}

.main-content {
    margin-top: 100px;
}

.socialyoutube, .socialandroid {
    display: none !important;
}

.error-message {
    margin-left: 150px;
}

.curriculum-vitae {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
}

.console-icon {
    background-image: url('../images/console-application-icon.jpg');
    width: 27px;
    height: 25px;
    justify-self: center;
    align-self: center;
}

.console-title {
    color: white;
    font-weight: normal;
    justify-self: center;
    align-self: center;
    font-size: 14px;
}

.console-maximize, .console-minimize, .console-close {
    background: transparent;
    width: 46px;
    color: white;
    text-align: center;
    cursor: default;
}

    .console-close:hover {
        background: red;
    }

    .console-maximize:hover, .console-minimize:hover {
        background: #298cdb;
    }

.console-minimize {
    line-height: 25px;
}

    .console-maximize {
        font-size: 14px;
        line-height: 27px;
    }

.console-close {
    font-size: 17px;
    font-weight: normal;
}

.console-header {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto auto;
    height: 30px;
    background-color: #0078d7;
}

.console-content, .console-header {
    width: 940px;
}

.console-content {
    background: black;
    font-family: "Consolas", monospace;
    color: white;
}

.curriculum-section a {
    color: white;
}

    .curriculum-section a:hover {
        color: #fdf50e;
    }

.curriculum-vitae span {
    display: block;
}

.curriculum-section {
    padding: 25px 0 0 25px;
}

    .curriculum-section li {
        font-weight: normal;
    }

.curriculum-section-title {
    font-size: 20px;
    color: #fdf50e;
    font-weight: normal;
    font-family: "Consolas", monospace;
}

.curriculum-header {
    display: flex;
}

.curriculum-important {
    color: #fdf50e;
}

.curriculum-image {
    display: block;
    width: 100%;
    max-width: 130px;
    align-self: center;
    padding-right: 15px;
}


@media only screen and (max-width: 1100px) {
    .projects-container {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media only screen and (max-width: 900px) {

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .console-content, .console-header {
        width: 100%;
    }

    .header-row {
        display: grid;
        margin: 30px 0;
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
        justify-items: center;
        align-items: center;
    }

    .left-column {
        text-align: center;
        justify-self: center;
        align-self: center;
        grid-row: 2;
    }

    .right-column {
        text-align: center;
        justify-self: center;
        align-self: center;
    }

    .social a {
        margin: 0 8px;
    }

    .tag {
        display: block;
        float: left;
        margin-right: 10px;
    }

    .header-column {
        margin: 10px 0 0 0;
    }

    footer {
        text-align: center;
        margin: 0 0 15px 0;
    }

}

@media only screen and (max-width: 700px) {

    .projects-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }

    .error-message {
        text-align: center;
        margin: 50px;
    }
}