.starfall {
    display: block;
    width: 166px;
    height: 193px;
    background: url('../animations/starfall.png') left center;
    animation: starfall 0.8s steps(20) infinite;
    animation-play-state: paused;
}

    .starfall:hover {
        animation-play-state: running;
    }

@keyframes starfall {

    0% {
        background-position: 0px;
    }

    100% {
        background-position: -3320px;
    }
}




.infart {
    display: block;
    width: 151px;
    height: 193px;
    background: url('../animations/infart.png') left center;
    animation: infart 0.8s steps(20) infinite;
    animation-play-state: paused;
}

    .infart:hover {
        animation-play-state: running;
    }

@keyframes infart {

    0% {
        background-position: 0px;
    }

    100% {
        background-position: -3025px;
    }
}



.markindedark {
    display: block;
    width: 193px;
    height: 193px;
    background: url('../animations/markindedark.png') left center;
    animation: markindedark 0.8s steps(2) infinite;
    animation-play-state: paused;
}

    .markindedark:hover {
        animation-play-state: running;
    }

@keyframes markindedark {

    0% {
        background-position: 0px;
    }

    100% {
        background-position: -386px;
    }
}



.booli {
    display: block;
    width: 193px;
    height: 193px;
    background: url('../animations/booli.png') center center no-repeat;
    background-size: 150px 150px;
    transition: background-size 0.3s ease;
}

    .booli:hover {
        transition: background-size 0.3s ease;
        background-size: 180px 180px;
    }






.curriculumvitaeexporter {
    display: block;
    width: 193px;
    height: 193px;
    background: url('../animations/curriculumvitaeexporter.png') center center no-repeat;
    transform: rotateY(0deg) rotateX(0deg);
    transition: transform 0.8s ease;
}

    .curriculumvitaeexporter:hover {
        transform: rotateY(40deg) rotateX(-10deg);
        transition: transform 0.8s ease;
    }


    /* TODO devono avere tutti la stessa width altrimenti non si allineano col testo sotto */