.starfall {
    display: block;
    width: 166px;
    height: 193px;
    background: url('../animations/starfall.png') left center;
    animation: starfall 0.8s steps(20) infinite;
    animation-play-state: paused;
}

    .starfall:hover {
        animation-play-state: running;
    }



@keyframes starfall {

    0% {
        background-position: 0px;
    }

    100% {
        background-position: -3320px;
    }
}
