html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
}

header {
    height: 210px;
    padding-top: 50px;
    margin: 0 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

footer {
    text-align: left;
    margin: 0 120px;
    color: #b1b3b6;
    font-size: 12px;
}

.footer-separator {
    height: 200px;
}

.projects-container {
    margin: 0 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.header-column {
    margin: 0 60px 60px 0;
}

.logo {
    height: 100px;
}

.logo-container {
    fill: #707070;
    color: #707070;
    transition: fill 0.4s ease, color 0.4s ease;
    cursor: pointer;
    text-align: center;
}

    .logo-container:hover {
        color: black;
        fill: black;
        transition: fill 0.4s ease, color 0.4s ease;
    }

.tag {
    transition: color 0.4s ease;
    color: #707070;
    text-decoration: none;
    cursor: default;
}

    .tag:hover {
        color: black;
    }

.static-link {
    transition: color 0.4s ease;
    color: #b1b3b6;
    text-decoration: none;
    cursor: pointer;
}

    .static-link:hover {
        color: #454545;
    }

.social {
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: 360px;
    margin-left: 15px;
}

    .social a {
        margin-bottom: 15px;
        display: block;
    }

        .social a i {
            transition: color 0.3s ease;
            color: #b1b3b6;
        }

            .social a i:hover {
                color: #636466;
            }

.project {
    width: 193px;
    height: 300px;
    margin: 0 60px 60px 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centered-horizontally {
    width: 50%;
    margin: 0 auto;
}

.project-link {
    display: block;
}

.project-container a, a:link, a:visited, a:active, a:focus {
    color: #454545;
    text-decoration: none;
    cursor: pointer;
}

.project-category {
    color: #b1b3b6;
}

.project-comingsoon {
    color: #b1b3b6;
    transition: color 0.8s ease, font-size 0.8s ease;
}

    .project-comingsoon:hover {
        color: #ff0037;
        font-size: 18px;
        transition: color 0.8s ease, font-size 0.8s ease;
    }

.project-title, project-category, .project-comingsoon {
    width: 193px;
}

.main-content {
    margin-top: 100px;
}

.socialyoutube, .socialandroid {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        flex-direction: column;
        height: auto;
        margin: auto;
    }

    .tag {
        display: block;
        float: left;
        margin-right: 10px;
    }

    .header-column {
        margin: 10px 0 0 0;
    }

    .logo-container {
        color: black;
        fill: black;
    }

    .social {
        position: relative;
        background-color: #b1b3b6;
        margin: 50px 0 0 0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }

        .social a {
            padding: 10px;
            margin: 0;
        }

            .social a i {
                color: white;
            }

    footer {
        text-align: center;
        margin: 0 0 15px 0;
    }

    .project {
        margin: 0 0 60px 0;
    }
}
