@{
    ViewData["MetaTitle"] = "Error!";
    ViewData["Keywords"] = "error";
    @model fbonizziDotIt.ViewModels.ApplicationErrorViewModel
}

<div class="error-message">

    <h1>@Model.Title</h1>
    <span>@Model.PublicMessageRow1</span>
    <br/>
    <span>@Model.PublicMessageRow2</span>

</div>
