@{
    ViewData["MetaTitle"] = "Francesco Bonizzi | Software developer";
    @model fbonizziDotIt.ViewModels.IndexViewModel
}

<div class="projects-container">

    <a href="Projects/starfall" alt="starfall">
        <div class="project">
            <div class="starfall"></div>
            <div class="project-title">Starfall</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-category">Videogame</div> <!-- TODO ci vuole la scritta del logo -->
        </div>
    </a>

    <!-- TODO, gli altri -->

</div>