@{
    ViewData["MetaTitle"] = "Francesco Bonizzi | Software developer";
    @model fbonizziDotIt.ViewModels.IndexViewModel
}

<div class="projects-container">

    <a href="Projects/starfall" alt="starfall">
        <div class="project">
            <div class="starfall"></div>
            <div class="project-title">Starfall</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-category">Videogame</div> <!-- TODO ci vuole la scritta del logo -->
        </div>
    </a>

    <a href="Projects/infart" alt="infart">
        <div class="project">
            <div class="infart"></div>
            <div class="project-title">Infart</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-category">Videogame</div> <!-- TODO ci vuole la scritta del logo -->
        </div>
    </a>

    <a href="Projects/markindedark" alt="Mark in DeDark">
        <div class="project">
            <div class="markindedark"></div>
            <div class="project-title">Mark in DeDark</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-category">Videogame</div> <!-- TODO ci vuole la scritta del logo -->
            <!-- TODO Mettere un flag COMING SOON -->
        </div>
    </a>

    <a href="Projects/booli" alt="Booli">
        <div class="project">
            <div class="booli"></div>
            <div class="project-title">Booli</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-category">Software</div> <!-- TODO ci vuole la scritta del logo -->
            <!-- TODO Mettere un flag COMING SOON -->
        </div>
    </a>

    <!-- TODO, gli altri -->

</div>