@{
    ViewData["MetaTitle"] = "Francesco Bonizzi | Software developer";
    @model fbonizziDotIt.ViewModels.IndexViewModel
}

<div class="projects-container">

    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.francescobonizzi.starfall" alt="starfall">
        <div class="project">
            <div class="starfall"></div>
            <div class="project-title">Starfall</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-category">Videogame</div> <!-- TODO ci vuole la scritta del logo -->
        </div>
    </a>

    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.francescobonizzi.rellow" alt="Rellow">
        <div class="project">
            <div class="rellow"></div>
            <div class="project-title">Rellow</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-category">Videogame</div> <!-- TODO ci vuole la scritta del logo -->
            <!-- TODO Mettere un flag COMING SOON -->
        </div>
    </a>

    <a class="project-link" href="#" alt="infart">
        <div class="project">
            <div class="infart"></div>
            <div class="project-title">Infart</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-category">Videogame</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-comingsoon">Coming soon</div> <!-- TODO ci vuole la scritta del logo -->
            <!-- TODO Mettere un flag COMING SOON -->
        </div>
    </a>

    <a class="project-link" href="#" alt="Mark in DeDark">
        <div class="project">
            <div class="markindedark"></div>
            <div class="project-title">Mark in DeDark</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-category">Videogame</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-comingsoon">Coming soon</div> <!-- TODO ci vuole la scritta del logo -->
            <!-- TODO Mettere un flag COMING SOON -->
        </div>
    </a>

    <a class="project-link" href="https://github.com/FrancescoBonizzi/Boolli" alt="Booli">
        <div class="project">
            <div class="booli"></div>
            <div class="project-title">Booli</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-category">Software</div> <!-- TODO ci vuole la scritta del logo -->
        </div>
    </a>

    <a class="project-link" href="https://github.com/FrancescoBonizzi/CurriculumVitaeExporter" alt="CurriculumVitaeExporter">
        <div class="project">
            <div class="curriculumvitaeexporter"></div>
            <div class="project-title">CurriculumVitaeExporter</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-category">Software</div> <!-- TODO ci vuole la scritta del logo -->
        </div>
    </a>

    <a class="project-link" href="https://www.youtube.com/channel/UC2TQUWfJM-KECpfpaAmE4Vw" alt="Lilloniz">
        <div class="project">
            <div class="lilloniz"></div>
            <div class="project-title">Lilloniz</div> <!-- TODO ci vuole la scritta del logo -->
            <div class="project-category">Music</div> <!-- TODO ci vuole la scritta del logo -->
        </div>
    </a>

    <!-- TODO, gli altri -->

</div>