@{
    ViewData["MetaTitle"] = "Francesco Bonizzi | Software developer";
}

<div class="projects-container">

    <a class="project-link" href="~/Pages/Starfall" alt="starfall">
        <div class="project">
            <div class="starfall"></div>
            <div class="project-title">Starfall</div> 
            <div class="project-category">Videogame</div> 
        </div>
    </a>

    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.francescobonizzi.rellow" alt="Rellow">
        <div class="project">
            <div class="rellow"></div>
            <div class="project-title">Rellow</div> 
            <div class="project-category">Videogame</div> 
        </div>
    </a>

    <a class="project-link" href="#" alt="infart">
        <div class="project">
            <div class="infart"></div>
            <div class="project-title">Infart</div> 
            <div class="project-category">Videogame</div> 
            <div class="project-comingsoon">Coming soon</div> 
        </div>
    </a>

    <a class="project-link" href="#" alt="Mark in DeDark">
        <div class="project">
            <div class="markindedark"></div>
            <div class="project-title">Mark in DeDark</div> 
            <div class="project-category">Videogame</div> 
            <div class="project-comingsoon">Coming soon</div> 
        </div>
    </a>

    <a class="project-link" href="#" alt="Ohm game">
        <div class="project">
            <div class="ohmgame"></div>
            <div class="project-title">Ohm game</div> 
            <div class="project-category">Videogame</div> 
            <div class="project-comingsoon">Coming soon</div> 
        </div>
    </a>

    <a class="project-link" href="https://github.com/FrancescoBonizzi/Boolli" alt="Booli">
        <div class="project">
            <div class="booli"></div>
            <div class="project-title">Booli</div> 
            <div class="project-category">Software</div> 
        </div>
    </a>

    <a class="project-link" href="https://github.com/FrancescoBonizzi/CurriculumVitaeExporter" alt="CurriculumVitaeExporter">
        <div class="project">
            <div class="curriculumvitaeexporter"></div>
            <div class="project-title">CurriculumVitaeExporter</div> 
            <div class="project-category">Software</div> 
        </div>
    </a>

    <a class="project-link" href="https://www.youtube.com/channel/UC2TQUWfJM-KECpfpaAmE4Vw" alt="Lilloniz">
        <div class="project">
            <div class="lilloniz"></div>
            <div class="project-title">Lilloniz</div> 
            <div class="project-category">Music</div> 
        </div>
    </a>

</div>