@{
    ViewData["MetaTitle"] = "Francesco Bonizzi | Starfall";
    ViewData["Keywords"] = "indie,game,android,windows,starfall";
}


<div class="project-page">

    <div class="project-page-infos-container">

        <img src="~/images/Starfall/starfall.png" alt="Starfall" />

        <div class="download-links">

            <a href='https://play.google.com/store/apps/details?id=com.francescobonizzi.starfall&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img alt='Starfall download link for Google Play Store' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' />
            </a>

            <a href='//www.microsoft.com/store/apps/9MW4T75WZR28?ocid=badge'>
                <img src='https://assets.windowsphone.com/85864462-9c82-451e-9355-a3d5f874397a/English_get-it-from-MS_InvariantCulture_Default.png' alt='Starfall download link for Windows 10 Store' />
            </a>

        </div>

        <p class="developed-with">
            Developed with: Marco Oppici
        </p>

        <p class="project-description">
            You are a <strong>star fallen on the Earth</strong>. You find yourself in a dark forest looking for the way home. You are very weak. <strong>Catch all the glows</strong> to get your energy back and fly. But careful, <strong>avoid the black holes</strong> along the way trying to absorb you!
        </p>

        <p class="project-description">
            Starfall is an ongoing project, but the first level we offer you is complete and free. If you wish the story to continue, download and share! ;-)
        </p>

        <p class="project-description">
            <span class="project-little-title">Features</span>
            <ul class="project-description-list">
                <li>A complete level with increasing difficulty</li>
                <li>Three challenging elements: glows captured, fly time, game time</li>
                <li>Ads at game over</li>
                <li>Original soundtrack</li>
                <li>Handmade graphic</li>
            </ul>
        </p>

        <div class="screenshots-container">
            <img src="~/images/Starfall/starfall-gameplay-1.jpg" alt="Starfall gameplay" />
            <img src="~/images/Starfall/starfall-gameplay-2.jpg" alt="Starfall gameplay" />
        </div>

    </div>

</div>

